.answer {
  display: flex;
  align-items: center;
}

.radio-input {
  margin: 3px 5px 0 0;
}

.correct-answer {
  background-color: yellowgreen;
}

.correct {
  background-color: yellowgreen;
  font-weight: bold;
  padding: 2px 3px 3px 3px;
}

.incorrect {
  background-color: crimson;
  font-weight: bold;
  padding: 2px 3px 3px 3px;
}

.your-answer-is {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.button {
  margin-left: 15px;
}

.ant-card {
  width: 800px;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
}

.ant-card-head-title {
  white-space: pre-wrap !important;
  text-overflow: initial;
}